header{
    width: 100%;
    padding: 10px 0;
    
}
nav{
    width: 90%;
}
section{
    width: 85%;

}

iframe{
    height: 375px;
    width: 680px;
}

 @media screen and (max-width:1200px) {
    iframe{
        width :550px !important;
        height: 350px !important;
    }

 }

 @media screen and (max-width : 668px) { 
    iframe{
        height: 254px !important;
        width: 412Px !important;
    }
 }

.logo-img{
    width: 5%;
    
}
.nav-text-size{
    font-size: 14px;;
}

/* main  */
/* section one  */
.column-h,.class-menu{
    height: 450px;
}

.class-menu{
    overflow-y:scroll;
    scrollbar-width: thin;
    
}

/* /section one bg */


@media screen and (max-width : 668px) {
    header{
        width: 100%;
    }
    nav{
        width: 100%;
    }
    main{
        width: 100%;
        height: auto;
    }

    iframe{
        height: auto;
        width: 100%;
    }
    .col-sm-12{
        padding: 0;
        margin: 0;
    }
    .class-menu{
        margin-top: 50px;
        border: 0 ;
    
    }
    .column-h{
        height: auto !important;
    }
    
}


/* footer  */
a{
    text-decoration: none;
}

footer{
    height:170px;
}
.footerWeight {
    width: 90%;
    font-size: 11px;
}
.fa-angle-up{
    font-size: 15px;
    color: black;
}




