.displayNone{
    display: none;
}
.displayActive{
    display: block;
}


header{
    width: 100%;
    padding: 10px 0px;
}
nav{
    width: 90%;
}
@media screen and (max-width : 600px) {
    nav{
        width: 100%;
    }
    
}
.logo-img{
    width: 5%;
    
}
.nav-text-size{
    font-size: 14px;;
}

/* main  */
/* section one  */


.zoom{
    transition: transform .3s;
}
.zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.1); 
  }

/* /section one bg */
.main01{
    background-image:url(img/gif/ZCsjru.gif);
}


@media screen and (max-width : 668px) {
    .main01{
        background-image: none;
    }
    .text-white{
        color: black !important;
    }
    .quotes{
        display: none;
    }
    
}

.treanding_courses{
    position: relative;
}

.treanding_courses_svg{
    width: 200px;
    height: 200px;
}


.c0{
    position: absolute;
    fill: white;
    stroke-width: 10;
    stroke:#f3f3f3 ;
    
}

.icons{
    position: absolute;
    z-index: 1000;
    top: 55px;
    font-size: 90px;
    color: #19a809;
}
.treanding_courses_text{
    position: relative;
}



/* footer  */
.videoFromPlaylist{
    text-decoration: none;
    color:rgb(0, 115, 255);
    
}
.videoFromPlaylist:hover{
    background-color: black;
    color:green;
}

footer{
    height:170px;
}
.footerWeight {
    width: 90%;
    font-size: 11px;
}
.fa-angle-up{
    font-size: 15px;
    color: black;
}



/* main 02 */

.main02section{
    width: 85%;

}

iframe{
    height: 375px;
    width: 680px;
}

 @media screen and (max-width:1200px) {
    iframe{
        width :550px !important;
        height: 350px !important;
    }

 }

 @media screen and (max-width : 668px) { 
    iframe{
        height: 254px !important;
        width: 412Px !important;
    }
 }




/* main  */
/* section one  */
.column-h,.class-menu{
    height: 450px;
}

.class-menu{
    overflow-y:scroll;
    scrollbar-width: thin;
    
}

/* /section one bg */


@media screen and (max-width : 668px) {
    
    .main02{
        width: 100%;
        height: auto;
    }

    iframe{
        height: auto;
        width: 100%;
    }
    .thecols{
        padding: 0;
        margin: 0;
    }
    .class-menu{
        margin-top: 50px;
        padding: 0px 10px ;
        border: 0 ;
    
    }
    .column-h{
        height: auto !important;
    }
    
}


/* footer  */




